.filter {
    font-family: kanit;
    color: #ccc;
    flex-wrap: wrap;
    margin: 0 auto;
}  
  .filter label {
    display: flex;
    flex-direction: column; 
    width:80%; 
  }
  
  input:focus{
    outline:none ;
  }
  
  .filter select,
  .filter input,
  .multi-select {
    padding: 8px;
    border: 1px solid #ccc;
    font-size: 14px; 
    color: black;
  }

.width{
  font-size: 14px;
  width: 200px;
  margin-left: 20px;
  margin-bottom: 10px;
}

.genre{
  padding:10px;
  margin-bottom:10px;
}

.dropdown-label {
  color: Blue; 
}