@import url('https://fonts.googleapis.com/css?family=Karantina');
@import url('https://fonts.googleapis.com/css?family=Kanit');

.header-row{
    padding: 10px 0 10px 0;
}

.movie-text {
    color: #E85959;
    font-family: kanit;
    font-size: 40px;
}

.hr {
    border-bottom:red 3px;
}

.header-img {
    width: 60px;
    margin-right: 20px;
    margin-bottom: 15px;
    margin-left: 15px;
}

.logo-image {
    color: #F3F3F3;
    font-family: Karantina;
    font-size: 40px;
}

.input-text {
    margin-bottom: 25px;
    margin-top: 18px;
    width: 240px;
    height: 40px;
    border: none;
    background-color: #D9D9D9;

}

.navbar-toggler {
    border: none;
}

.font {
    font-size: 12px;
    color: aliceblue;
    font-family: kanit;
}

.title {
    margin-top: 5px;
    font-family: kanit;
}